<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p><%= @notification.message %></p>
<p><%= "#{@notification.user.name} (#{@notification.user.email})" %></p>
<p><%= @notification.url %></p>
</body>
</html>
